.body_background 
{
    background-image: url("https://i.ytimg.com/vi/Dg0IjOzopYU/maxresdefault.jpg");
    background-position: center;
    background-size: cover;
}
#myCanvas
{
    border-width:10px;
    background-color: lightskyblue; 
    border-style:ridge;
}

h2
{
	border-radius: 10px;
	width: 200px;
	padding: 5px;
 }
h3
{
	display: inline-block;
}
span
{
	color: black;	
}
a
{
	text-decoration: none;
	font-size: 20px;
	padding: 10px;
    float: left;
    border-radius: 10px;
}
#head_info
{
	width: 600px;
	border-radius: 10px;
	margin-bottom: 10px;
}
#code {
	background-color: palevioletred;
	width:90%;
	margin-top: 50px;
	border-radius: 25px;
	margin-bottom: 30px;
	
}
#code p {
	font-weight: bold;
	font-family: 'Times New Roman', Times, serif;
	font-size: 20px;
	padding-top:10px ;
}